:root {
  --white: #fff;
  ---primary: #a80986;
  --black: #182339;
}

html {
  font-size: 62.5%;

}

body{
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Mukta", sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: 1;
}

.app-title span {
  display: block;
  color: var(---primary);
  font-size: 5.5rem;
  margin-left: 23rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form, field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  color: var(--black);
}

form select {
  background-color: #ECEBEB;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.form [type="submit"] {
  background-color: var(---primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color 300ms ease;
}

.form [type="submit"]:hover {
  background-color: #be3cd8;
}